/* Movie Watch CSS */
.moviewatch-main {
  width: 1200px;
  /* height: 399px; */
  background: rgba(11, 15, 22, 0.47);
  box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  justify-content: center;
  border-radius: 24px;
  margin-left: 125px !important;
}
.moviewatch-main-second {
  width: 1200px;
  /* height: 399px; */

  /* backdrop-filter: blur(25px); */
  justify-content: center;
  border-radius: 24px;
  margin-left: 125px !important;
}
.moviewatch-head {
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px !important;
}

.moviewatch-title {
  display: flex;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  /* padding-top: 25px !important;  */
}
.filter-btn {
  width: 139px;
  display: flex;
  height: 40px;
  background: #5c5c5c;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: white;

  /* text-align: center; */
}
.filter-btn button {
  font-weight: 700;
  border-style: none;
}
.cards-div-main {
  /* display: flex; */
  /* flex-direction: row; */
  /* gap: 42px; */
  padding: 20px !important;
  overflow: hidden;
}

/* Cards */
.card-sub-main {
  width: 168px;
  /* height: 302px; */
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.card-img-div {
  display: flex;
}
.card-img-div img {
  width: 168px;
  height: 237px;

  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
  border-radius: 7px;
}
.card-heading {
  display: flex;
  width: 167px;
  height: 20px;
  font-size: 16px !important;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  font-weight: 700;
}

.year-div {
  color: white;
  display: flex;
  font-size: 11px;
  gap: 5px;
  font-weight: 700;

  flex-direction: column;
}
.card-icon {
  width: 28px !important;
  /* height: 14px; */
}
.card-last-div {
  display: flex;
  justify-content: space-between;
}

.card-icon-main {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: #ffc907;
}
.year-right {
  color: white;
  margin-top: 28px !important;
  display: flex;
  gap: 8px;
}
.rec-btn {
  width: 106px;
  height: 40px;

  background: #5c5c5c;
  border-radius: 30px;
  color: white;
}
.lan-btn {
  display: flex;
  /* flex-direction: column; */
  /* margin-top: 20px !important; */
  padding: 20px 0px !important;
  gap: 10px;
}
.showmore-btn-main button {
  width: 181px;
  height: 43px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #5e47a1;
  border-radius: 21.5px;
}
.showmore-btn {
  text-align: center;
  justify-content: center;
  display: flex;
}

.slick-track {
  display: flex;
}
.slick-slide {
  padding-inline: 20px;
}

/* Cast Css */
.cast-main {
  /* width: 100%; */
  /* height: 298px; */
  display: flex;
  padding: 20px !important;
  /* background: grey; */
  gap: 104px;

  margin-left: 125px !important;
  background: rgba(11, 15, 22, 0.47);
  box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  border-radius: 24px;
}
.trailor-main {
  width: 400px;
  color: white;
  /* padding: 10px !important; */
}
.trailor-main h6 {
  font-weight: 800 !important;
}
.crew-cast-main {
  display: flex;
  width: 700px;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: 800;
}
.crew-main {
  display: flex;
  gap: 72px;
  color: white;
  overflow: hidden;
}
.crew-img-main img {
  width: 110px;
  height: 145px;
  border: 1px solid #ffffff;
  border-radius: 9px;
  overflow: hidden;
 
}

.crew-name p {
  font-size: 14px !important;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  text-overflow: ellipsis;
  width: 100px;
  font-weight: 700;
}
.crew-name {
  white-space: nowrap;
  overflow: hidden;
}
.crew-name-sub p {
  font-size: 14px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  font-weight: 700;
  color: #a9a9a9;
}
.cast-show-more button {
  width: 181px;
  height: 43px;
  background: #5e47a1;
  border-radius: 21.5px;
  color: white;
  font-weight: 700;
  margin-left: 30px;
}

/* Similar Page */
.morelike-sub {
  display: flex;

  gap: 28px;

  overflow: hidden;
  /* background-color: #5E47A1; */
}
.morelike-main {
  /* height: 200px; */
  /* margin-left: 125px !important; */
  width: 1200px;
  margin: 70px 0px 55px 125px !important;
  /* margin-top: 55px !important; */
  color: white;
  /* padding: 10px !important; */
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.morelike-img-main img {
  width: 289px;
  height: 172px;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
  border-radius: 7px;
}
